.ui-datatable.borderless thead th, .ui-datatable.borderless tbody,
	.ui-datatable.borderless tbody tr, .ui-datatable.borderless tbody td {
	border-style: none;
	padding: 0;
	color: blue;
}

.ui-tabs .ui-tabs-panel {
	background: white;
	padding: 0px;
	height: 310px;
}

.ui-tabs.ui-tabs-left>.ui-tabs-nav {
	width: 206px;
	height: 0px;
}

