.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: none;
}
.login{
	margin-top: 60px;
	width: 200px;
	height: 30px;
}
.error{
	text-align: center;
	color: red;
}
.mainPanelGrid {
	margin-top: 100px;
	margin: 0px auto;
	text-align: center;
}
.registerPanelGrid{
	margin: 0 px auto;
}
.rButton{
	margin-top: 30px;
	display: block;
	margin: 0px auto;
}
.buttonPanelGrid {
    margin-left: 0px auto;
}
h1 {
	margin-top: 100px;
	text-align: center;
}
.message{
	text-align: center;
}
.imgTree{
	width: 300px;
	margin-top: 100px;
	margin-left: 37px;
}